.quadrant {
    position: relative;
    background-color: white;
    height: var(--hold-default);
    width: var(--hold-default);
    transition: transform 100ms linear;
}

.quadrant:hover:not(.expanded) {
    transform: scale(1.05);
    z-index: 9;
}

.quadrant:hover ~ .quadrant {
    opacity: 0.2;
}

.quadrant:has(~ .quadrant:hover) {
    opacity: 0.2;
}

.quadrant:has(.topLeft) {
    border-radius: 0.5rem 0 0 0;
}

.quadrant:has(.topRight) {
    border-radius: 0 0.5rem 0 0;
}

.quadrant:has(.bottomRight) {
    border-radius: 0 0 0.5rem 0;
}

.quadrant:has(.bottomLeft) {
    border-radius: 0 0 0 0.5rem;
}

.topLeft > .quadrantTitle {
    position: absolute;
    top: 10px;
    left: 20px;
}

.topRight > .quadrantTitle {
    position: absolute;
    top: 10px;
    right: 20px;
}

.bottomRight > .quadrantTitle {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.bottomLeft > .quadrantTitle {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.topLeft {
    border-radius: 100% 0 0 0;
    align-content: end;
    text-align: end;
}

.topRight {
    border-radius: 0 100% 0 0;
    align-content: end;
}

.bottomRight {
    border-radius: 0 0 100% 0;
}

.bottomLeft {
    border-radius: 0 0 0 100%;
    text-align: end;
}

.closeBtn {
    margin: 2em;
    visibility: collapse;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
}

.itemListWrapper {
    visibility: collapse;
    overflow: scroll;
    width: 30vw;
}

.highlight {
    background-color: green;
    transform: scale(1.2);
}

.screen {
    visibility: collapse;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.expanded .closeBtn{
    visibility: visible;
}

.expanded {
    border-radius: 0;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.expanded {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.expanded .sector {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.expanded .quadrantTitle {
    top: auto;
    bottom: 0px;
    left: 30px;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: 3rem;
    width: fit-content;
}

.expanded .itemListWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    text-align: start;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 200px;
    
}
