.quadrant {
    position: relative;
    background-color: #f8f8f8;
    height: 450px;
    width: 450px;
}

.quadrant:has(.topLeft) {
    border-radius: 0.5rem 0 0 0;
}

.quadrant:has(.topRight) {
    border-radius: 0 0.5rem 0 0;
}

.quadrant:has(.bottomRight) {
    border-radius: 0 0 0.5rem 0;
}

.quadrant:has(.bottomLeft) {
    border-radius: 0 0 0 0.5rem;
}

.topLeft > .quadrantTitle {
    position: absolute;
    top: 10px;
    left: 20px;
}

.topRight > .quadrantTitle {
    position: absolute;
    top: 10px;
    right: 20px;
}

.bottomRight > .quadrantTitle {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.bottomLeft > .quadrantTitle {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.topLeft {
    border-radius: 100% 0 0 0;
    align-content: end;
    text-align: end;
}

.topRight {
    border-radius: 0 100% 0 0;
    align-content: end;
}

.bottomRight {
    border-radius: 0 0 100% 0;
}

.bottomLeft {
    border-radius: 0 0 0 100%;
    text-align: end;
}