.quadrant {
    position: relative;
    height: 400px;
    width: 400px;
}

.topLeft > .quadrantTitle {
    position: absolute;
    top: 0;
    left: 0;
}

.topRight > .quadrantTitle {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomRight > .quadrantTitle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottomLeft > .quadrantTitle {
    position: absolute;
    bottom: 0;
    left: 0;
}

.topLeft {
    border-radius: 100% 0 0 0;
    align-content: end;
    text-align: end;
}

.topRight {
    border-radius: 0 100% 0 0;
    align-content: end;
}

.bottomRight {
    border-radius: 0 0 100% 0;
}

.bottomLeft {
    border-radius: 0 0 0 100%;
    text-align: end;
}