:root{
    --hold-default: calc(1/2*100vh - 10vh);
    --trial-default: calc(1/2*100vh - 20vh);
    --specific-default: calc(1/2*100vh - 30vh);
    --adopt-default: calc(1/2*100vh - 40vh);

    --hold-expanded: 95vh;
    --trial-expanded: 70vh;
    --specific-expanded: 45vh;
    --adopt-expanded: 20vh;
}

.sector {
    position: absolute;
}

.topLeftSector {
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
}

.topRightSector {
    left: 0;
    bottom: 0;
    border-radius: 0 100% 0 0;
}

.bottomRightSector {
    left: 0;
    top: 0;
    border-radius: 0 0 100% 0;
}

.bottomLeftSector {
    right: 0;
    top: 0;
    border-radius: 0 0 0 100%;
}

.adopt {
    height: var(--adopt-default);
    aspect-ratio: 1;
    background-color: #f8f8f8;
}

.specific {
    height: var(--specific-default);
    aspect-ratio: 1;
    background-color: #dfdfdf;
}

.trial {
    height: var(--trial-default);
    aspect-ratio: 1;
    background-color: #c6c6c6;
}

.hold {
    height: var(--hold-default);
    aspect-ratio: 1;
    background-color: #adadad;
}

.point {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #007095;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 100ms linear;
}

.quadrant:has(.point:hover) .point:not(.point:hover) {
    opacity: 0.2;
}

.point:hover {
    transform: scale(1.1);
}

.pointLabel {
    margin: 0;
    padding: 0;
}

.expanded .sector {
    border-radius: 100% 0 0 100%;
}

.expanded .hold {
    height: var(--hold-expanded);
    aspect-ratio: 1;
}

.expanded .trial {
    height: var(--trial-expanded);
    aspect-ratio: 1;
}

.expanded .specific {
    height: var(--specific-expanded);
    aspect-ratio: 1;
}

.expanded .adopt {
    height: var(--adopt-expanded);
    aspect-ratio: 1;
}

.expanded .bottomRightSector, .topRightSector {
    left: auto;
}