:root{
    --radius-diff-default: 10vh;
    --hold-default: calc(1/2*100vh - 1 * var(--radius-diff-default));
    --trial-default: calc(1/2*100vh - 2 * var(--radius-diff-default));
    --specific-default: calc(1/2*100vh - 3 * var(--radius-diff-default));
    --adopt-default: calc(1/2*100vh - 4 * var(--radius-diff-default));

    --radius-diff-expanded: 25vh;
    --hold-expanded: 95vh;
    --trial-expanded: calc(var(--hold-expanded) - var(--radius-diff-expanded));
    --specific-expanded: calc(var(--trial-expanded) - var(--radius-diff-expanded));
    --adopt-expanded: calc(var(--specific-expanded) - var(--radius-diff-expanded));
}

.sector {
    position: absolute;
}

.topLeftSector {
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
}

.topRightSector {
    left: 0;
    bottom: 0;
    border-radius: 0 100% 0 0;
}

.bottomRightSector {
    left: 0;
    top: 0;
    border-radius: 0 0 100% 0;
}

.bottomLeftSector {
    right: 0;
    top: 0;
    border-radius: 0 0 0 100%;
}

.adopt {
    height: var(--adopt-default);
    aspect-ratio: 1;
    background-color: #f8f8f8;
}

.specific {
    height: var(--specific-default);
    aspect-ratio: 1;
    background-color: #dfdfdf;
}

.trial {
    height: var(--trial-default);
    aspect-ratio: 1;
    background-color: #c6c6c6;
}

.hold {
    height: var(--hold-default);
    aspect-ratio: 1;
    background-color: #adadad;
}

.point {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #007095;
    border-radius: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 100ms linear;
}

.quadrant:has(.point:hover) .point:not(.point:hover) {
    transition: opacity 100ms linear;
    opacity: 0.2;
}

.point:hover {
    transform: scale(1.1);
}

.pointLabel {
    margin: 0;
    padding: 0;
}

.expanded .hold {
    border-radius: calc(var(--hold-expanded) / 2) 0 0 calc(var(--hold-expanded) / 2);
    height: var(--hold-expanded);
    aspect-ratio: 0.5;
}

.expanded .trial {
    border-radius: calc(var(--trial-expanded) / 2) 0 0 calc(var(--trial-expanded) / 2);
    height: var(--trial-expanded);
    aspect-ratio: 0.5;
}

.expanded .specific {
    border-radius: calc(var(--specific-expanded) / 2) 0 0 calc(var(--specific-expanded) / 2);
    height: var(--specific-expanded);
    aspect-ratio: 0.5;
}

.expanded .adopt {
    border-radius: calc(var(--adopt-expanded) / 2) 0 0 calc(var(--adopt-expanded) / 2);
    height: var(--adopt-expanded);
    aspect-ratio: 0.5;
}

.expanded .bottomRightSector, .topRightSector {
    left: auto;
}

.expanded .sectorTitle {
    position: absolute;
    top: calc(25vh/4);
    right: 20px;
    transform: translateY(-50%);
}