*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}  

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}